body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Staatliches',display;
    font-weight: 900;
    font-size: 40px;
}

body {
    background-color: lightgrey;
}

.page {
    width: 850px;
    background-color: #F7F3E3;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Staatliches',display;
    font-size: 2em;
    font-weight: normal; 
    line-height: 1.2; 
    color: #000;
}

.description-right {
    padding-left: 20px;
}

.description-intro {
    padding-right: 20px;
    font-size: 16px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    font-size: 14px;
    margin-bottom: 10px;
}

.small-font {
    font-size: 14px;
}

.highlight-place {
	font-size: 18px;
	font-style: bold;
	color: #d8b365;
}

.highlight-type {
	font-size: 18px;
	font-style: bold;
	color: brown;
}

.highlight-value {
	font-size: 18px;
	font-style: bold;
	color: darkblue;
}

.container {
    text-align: center;
}

.small-textl {
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
    color: #000; 
    margin-bottom: 5px;
    margin-top: 0px;
}
.small-textr {
    padding-right: 20px;
    text-align: right;
    font-size: 14px;
    color: #000; 
    margin-top: 5px;
    margin-bottom: 0px;
}

.big-text {
    text-align: center;
    font-size: 40px;
    color: #d8b365; 
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}